/* custom edits */

.FieldArea {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 20px 0px;
    margin-bottom: 20px;
}

input[type="text"] {
    margin-top: 30px;
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    justify-self: center;
}

button {
    margin-top: 10px;
    width: 33%;
    height: 2em;
    background: linear-gradient(rgb(187, 187, 187), rgb(107, 107, 107));
    border-radius: 4px;
    display: block;
    justify-self: center;
}

.checkbox-row {
    display: flex;
    align-items: center;
    margin-left: 30%;
}

tr {
    text-align: left;
}

li {
    list-style: none;
}

table {
    margin: 30px auto;
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    justify-self: center;
    border: 2px solid gray;
}

th, td {
    padding: 3px 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3a3d3a;
}

.PriceCalculator {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 100px;
    margin: 50px 0px;
}

.InfoTable {
    margin: 50px 0px;
}
